.top-nav{
	background: $linkColor;
}

#search-block-form{
	input.form-submit{
		background: image-url("search.png") no-repeat center #FF0000;
		&:hover{
		background-color: #FF0000;
		border-color: #FF0000;
		}
	} 
}